# Stan's Miracle Message Map Data Clean_up.

In [2]:
# Reading in as DataFrame from Matt Kirby's dataset csv.

import pandas as pd

mm = pd.read_csv('https://raw.githubusercontent.com/mkirby1995/miracle_messages/master/Master%20MM%20Volunteers%20-%20MM%20Volunteers.csv')
pd.set_option('display.max_columns', 24)
mm.head()

,Submitted on,Email address,First Name,Last Name,Phone,City,Stateprovince,Country,I am interested in,Comment,ZIP,Full Address,Timezone,Donations,Donation Date,Donation Source,Source,Company,Emails sent,Opened,Clicked,Birthday,Name,Merge status
0,2015-04-08 17:21:31,rachels42@gmail.com,Rachel,Stanley,NaN,Coventry,NaN,United Kingdom,"Volunteering, Donating",NaN,CV3 2DD,56,Pacific/Tongatapu,20,27/10/14 5:55,Indiegogo,NaN,NaN,4.0,0.0,0.0,NaN,NaN,NaN
1,2015-04-08 17:21:24,dmhomee@gmail.com,Praveen,sinha,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94110,297,NaN,25,19/12/14 0:00,Indiegogo,NaN,NaN,7.0,0.0,0.0,NaN,NaN,NaN
2,2015-04-08 17:21:23,joe@simple10.com,Joe,Johnston,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94116,2182,America/Los_Angeles,90,27/10/14 18:54,Indiegogo,NaN,NaN,7.0,2.0,0.0,NaN,NaN,NaN
3,01/14/2017 20:09:53,katierussell58@gmail.com,Katie,Russell,NaN,NaN,NaN,NaN,"Volunteering, Media coverage, Openings at MM, ...","I love the message this organization sends, an...",NaN,46037,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
4,2015-04-08 17:21:33,anatoledanogarcia@gmail.com,Ana,Toledano Garcia,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94103,415536472,Europe/Andorra,20,21/10/14 14:58,Indiegogo,NaN,NaN,7.0,4.0,0.0,NaN,NaN,NaN

In [3]:
mm = mm.drop(columns=['Donations', 'Donation Date', 'Donation Source', 'Source', 'Company', 'Emails sent', 'Opened', 'Clicked', 'Birthday', 'Name', 'Merge status'])

mm.head()

,Submitted on,Email address,First Name,Last Name,Phone,City,Stateprovince,Country,I am interested in,Comment,ZIP,Full Address,Timezone
0,2015-04-08 17:21:31,rachels42@gmail.com,Rachel,Stanley,NaN,Coventry,NaN,United Kingdom,"Volunteering, Donating",NaN,CV3 2DD,56,Pacific/Tongatapu
1,2015-04-08 17:21:24,dmhomee@gmail.com,Praveen,sinha,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94110,297,NaN
2,2015-04-08 17:21:23,joe@simple10.com,Joe,Johnston,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94116,2182,America/Los_Angeles
3,01/14/2017 20:09:53,katierussell58@gmail.com,Katie,Russell,NaN,NaN,NaN,NaN,"Volunteering, Media coverage, Openings at MM, ...","I love the message this organization sends, an...",NaN,46037,NaN
4,2015-04-08 17:21:33,anatoledanogarcia@gmail.com,Ana,Toledano Garcia,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94103,415536472,Europe/Andorra

In [4]:
mm.shape

(7097, 13)

In [5]:
# !pip install validate_email

In [6]:
from validate_email import validate_email

mm['Valid Email?'] = mm['Email address'].apply(lambda x:validate_email(x))

print('All rows with valid email addresses:', mm['Valid Email?'].value_counts())

All rows with valid email addresses: True    7097
Name: Valid Email?, dtype: int64

In [7]:
mm['Has Comment'] = mm['Comment'].notnull()

mm.head()

,Submitted on,Email address,First Name,Last Name,Phone,City,Stateprovince,Country,I am interested in,Comment,ZIP,Full Address,Timezone,Valid Email?,Has Comment
0,2015-04-08 17:21:31,rachels42@gmail.com,Rachel,Stanley,NaN,Coventry,NaN,United Kingdom,"Volunteering, Donating",NaN,CV3 2DD,56,Pacific/Tongatapu,True,False
1,2015-04-08 17:21:24,dmhomee@gmail.com,Praveen,sinha,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94110,297,NaN,True,False
2,2015-04-08 17:21:23,joe@simple10.com,Joe,Johnston,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94116,2182,America/Los_Angeles,True,False
3,01/14/2017 20:09:53,katierussell58@gmail.com,Katie,Russell,NaN,NaN,NaN,NaN,"Volunteering, Media coverage, Openings at MM, ...","I love the message this organization sends, an...",NaN,46037,NaN,True,True
4,2015-04-08 17:21:33,anatoledanogarcia@gmail.com,Ana,Toledano Garcia,NaN,San Francisco,CA,USA,"Volunteering, Donating",NaN,94103,415536472,Europe/Andorra,True,False

In [8]:
mm["Comment Contains: 'interested'"] = mm['Comment'].str.contains('interested', case=False, na=False) == True

mm["Comment Contains: 'interested'"].value_counts()[1:2]

True    173
Name: Comment Contains: 'interested', dtype: int64